[run]
source = backend
omit =
    backend/api2.py
    backend/db/seed.py
    backend/db/checkdb.py
    backend/agents/availability_agent.py
    backend/agents/search_agent.py
    backend/graph/routers.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
